playbook-Dedup_-_Generic_v4_Custom.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.2.0
    itemVersion: 2.3.53
    packID: ""
    packName: Common Playbooks
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: "This playbook identifies duplicate incidents using the Cortex XSOAR
  machine learning method (script).\nIn this playbook, you can choose fields and/or
  indicators to be compared against other incidents in the Cortex XSOAR database.
  \n\nNote: To identify similar incidents you must *must* properly define the playbook
  inputs. "
id: 91702eff-03d2-4b26-800b-70528f43af17
inputs:
- description: Choose the way you want to identify similar incidents. Choose between
    "Indicators" / "Fields" / "Fields and Indicators".
  key: method
  playbookInputQuery: null
  required: true
  value:
    simple: Fields and Indicators
- description: "This input defines how to handle similar incidents. \nPossible values:
    \"Link \" (default), \"Close\", and \"Link and Close\".\nNote: Close incidents
    requires you to define the \"CloseSimilar\" input as well.\nAlso, the incidents
    found by similar indicators or fields will be closed if their similarity score
    is above the CloseSimilar value."
  key: handleSimilar
  playbookInputQuery: null
  required: true
  value:
    simple: Link
- description: "Select the incident field name you want the script to query.  \nFor
    example, if you select <Type>, the playbook will query against the database for
    all incidents with the same type as your current incident.\n Note: If you use
    comma-separated values, the operator between them will be *AND*."
  key: fieldExactMatch
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    A comma-separated list of additional incident fields to display in the context output. These fields can be used later on for layouts or other states if needed.
    (Those which will not be taken into account when computing similarity)
  key: fieldsToDisplay
  playbookInputQuery: null
  required: false
  value: {}
- description: The start date to filter incidents. Date format is the same as in the
    incidents query page, for example, "3 days ago", "1 month ago", "2019-01-01T00:00:00
    +0200").
  key: fromDate
  playbookInputQuery: null
  required: false
  value:
    simple: 1 months ago
- description: |-
    The maximum number of incidents to query and set to context data.
    Default is: 200
  key: limit
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
- description: |-
    Retain incidents with a similarity score greater than the MinimunIncidentSimilarity.
    Default: 0.2
    Value should be between 0 to 1 [0=low similarity, 1=identical]
  key: minimunIncidentSimilarity
  playbookInputQuery: null
  required: true
  value:
    simple: "0.2"
- description: A comma-separated list of incident text fields to take into account
    when computing similarity. For example commandline, URL
  key: similarTextField
  playbookInputQuery: null
  required: true
  value: {}
- description: |-
    Defines the threshold of similarity to close a similar incident. All similar incidents with similarity above this value will be closed.
    For example, if CloseSimilar is set to .8 and an incident has a similarity score of .9, the incident will be closed.
    The value should be between 0 and 1 [0=low similarity , 1=identical].
  key: CloseSimilar
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Whether to display the similarity score for each of the incident fields that were entered in the "similarTextField".
    Default: True
  key: showIncidentSimilarityForAllFields
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: |-
    The argument for dedicated query on incidents. This helps reduce the query size.
    Default (same is in the Incident tab): "-status:closed -category:job "
  key: query
  playbookInputQuery: null
  required: false
  value:
    simple: -status:closed -category:job
- description: Specify the reason for closing the incident. This information will
    be added as a note/comment to the closed incident.
  key: closeReason
  playbookInputQuery: null
  required: false
  value:
    simple: 'Duplicate incident to '
name: Dedup - Generic v4_Custom
outputs:
- contextPath: DBotFindSimilarIncidents
  description: Return all the results from the "DBotFindSimilarIncidents" script.
  type: string
sourceplaybookid: Dedup - Generic v4
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57e8f4b4-4055-4eb5-8f24-65b2f8a9853d
      iscommand: false
      name: ""
      version: -1
    taskid: 57e8f4b4-4055-4eb5-8f24-65b2f8a9853d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -440
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      fieldExactMatch:
        simple: ${inputs.fieldExactMatch}
      fieldsToDisplay:
        simple: ${inputs.fieldsToDisplay}
      fromDate:
        simple: ${inputs.fromDate}
      limit:
        simple: ${inputs.limit}
      maxIncidentsToDisplay:
        simple: "5"
      minimunIncidentSimilarity:
        simple: ${inputs.minimunIncidentSimilarity}
      query:
        simple: ${inputs.query}
      showIncidentSimilarityForAllFields:
        simple: ${inputs.showIncidentSimilarityForAllFields}
      similarTextField:
        simple: ${inputs.similarTextField}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find past similar incidents based on similar incident fields. Includes
        an option to also display indicator similarity.
      id: 0ab5642b-677f-4f43-8fc6-a027c475b597
      iscommand: false
      name: Find Similar Incidents By Fields
      script: DBotFindSimilarIncidents
      type: regular
      version: -1
    taskid: 0ab5642b-677f-4f43-8fc6-a027c475b597
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1050,
          "y": -150
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: isSimilarIncidentFound
                root: DBotFindSimilarIncidents
                transformers:
                - operator: toLowerCase
          operator: isTrue
        - left:
            iscontext: true
            value:
              complex:
                accessor: isSimilarIncidentFound
                root: DBotFindSimilarIncidentsByIndicators
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the DBotFindSimilarIncidents task returned an output.
      id: c2ed1097-f848-497b-85be-dab11755a146
      iscommand: false
      name: Are There Any Similar Incidents?
      type: condition
      version: -1
    taskid: c2ed1097-f848-497b-85be-dab11755a146
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": 370
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 99e968be-dd76-4cf8-819b-4a9ee7bdd632
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 99e968be-dd76-4cf8-819b-4a9ee7bdd632
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1770
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: link
      incidentId:
        complex:
          accessor: id
          root: incident
      linkedIncidentIDs:
        complex:
          accessor: id
          root: DBotFindSimilarIncidents.similarIncident
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: DBotFindSimilarIncidentsByIndicators.similarIncident.id
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: e6129aab-eb2a-4c92-81df-d7b08de89eb1
      iscommand: true
      name: Link similar incident
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: e6129aab-eb2a-4c92-81df-d7b08de89eb1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 890
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 418747d0-2d33-4ca5-8640-ccc58c468895
      iscommand: false
      name: Similar Incident Found
      type: title
      version: -1
    taskid: 418747d0-2d33-4ca5-8640-ccc58c468895
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": 570
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: ${inputs.closeReason} - ${DBotFindSimilarIncidents.similarIncident.id}
      closeReason:
        simple: Duplicate
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: 'Close the similar incident with a similarity score greater than
        or equal to the CloseSimilar value. '
      id: 174c008a-b5df-4e49-8674-dd250c1f93b5
      iscommand: true
      name: Close Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 174c008a-b5df-4e49-8674-dd250c1f93b5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1600
        }
      }
  "22":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.handleSimilar
          operator: isEqualString
          right:
            value:
              simple: Close
      label: Close
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.handleSimilar
          operator: containsString
          right:
            value:
              simple: Link
      label: link
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      Close:
      - "46"
      link:
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Define how to handle a similar incident.
      id: 6d22488c-9d7b-455c-879e-55c111c1a2ae
      iscommand: false
      name: Handle Similar Incident
      type: condition
      version: -1
    taskid: 6d22488c-9d7b-455c-879e-55c111c1a2ae
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": 690
        }
      }
  "26":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.handleSimilar
          operator: containsString
          right:
            value:
              simple: Close
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Do you want to close any similar incidents?
      id: aaa82d26-4929-4d7a-84df-579b144b94f5
      iscommand: false
      name: Close Incident?
      type: condition
      version: -1
    taskid: aaa82d26-4929-4d7a-84df-579b144b94f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1060
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      fieldsIncidentToDisplay:
        simple: ${inputs.fieldsToDisplay}
      fromDate:
        simple: ${inputs.fromDate}
      maxIncidentsToDisplay:
        simple: ${inputs.limit}
      query:
        simple: ${inputs.query}
      threshold:
        simple: ${inputs.minimunIncidentSimilarity}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Finds similar incidents based on indicator similarity.
      id: b92ede19-362a-432b-8d47-a63c5f6de883
      iscommand: false
      name: Find Similar Incidents by Indicators
      script: DBotFindSimilarIncidentsByIndicators
      type: regular
      version: -1
    taskid: b92ede19-362a-432b-8d47-a63c5f6de883
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 190
        }
      }
  "42":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.method
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: indicators
      label: Indicators
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.method
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: fields
      label: fields
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      Indicators:
      - "27"
      fields:
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Define how you prefer to identify similarity using playbook input
        - 'method'
      id: bebc215b-9416-4792-82cd-704782b8d207
      iscommand: false
      name: Find Similar Incidents By?
      type: condition
      version: -1
    taskid: bebc215b-9416-4792-82cd-704782b8d207
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": -320
        }
      }
  "45":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.method
                transformers:
                - operator: toLowerCase
          operator: containsString
          right:
            value:
              simple: indicators
      label: "Yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "Yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Do you want to identify similar incidents by indicators? If yes,
        the 'method' input should contain "indicator".
      id: 074d32e2-1d91-4225-84d1-a5a1fd42de04
      iscommand: false
      name: Also Find Similarity By Indicators?
      type: condition
      version: -1
    taskid: 074d32e2-1d91-4225-84d1-a5a1fd42de04
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 20
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CloseSimilar
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "47"
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the CloseSimilar input was defined.
      id: 8bd8a25a-823c-4c57-8d68-356035e97311
      iscommand: false
      name: A closer percentage was provided?
      type: condition
      version: -1
    taskid: 8bd8a25a-823c-4c57-8d68-356035e97311
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 1230
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotFindSimilarIncidents.similarIncident.similarity
                          incident
                    operator: greaterThanOrEqual
                    right:
                      iscontext: true
                      value:
                        simple: inputs.CloseSimilar
                root: DBotFindSimilarIncidents.similarIncident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there are similar incidents by fields.
      id: b38be268-7155-445e-8f1b-4ed28aa178c3
      iscommand: false
      name: Are There Similar Incidents by Fields?
      type: condition
      version: -1
    taskid: b38be268-7155-445e-8f1b-4ed28aa178c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1400
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: ${inputs.closeReason} - ${DBotFindSimilarIncidents.similarIncident.id}
      closeReason:
        simple: Duplicate
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the similar incident with a similarity score greater than
        or equal to the CloseSimilar value.
      id: 4aa07278-880e-45a9-8b40-fea8676eb248
      iscommand: true
      name: Close incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 4aa07278-880e-45a9-8b40-fea8676eb248
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1600
        }
      }
  "49":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotFindSimilarIncidentsByIndicators.similarIncident.similarity
                          indicators
                    operator: greaterThanOrEqual
                    right:
                      iscontext: true
                      value:
                        simple: inputs.CloseSimilar
                root: DBotFindSimilarIncidentsByIndicators.similarIncident
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there are similar incidents by indicators.
      id: 002478d2-31f3-4859-899b-d4948ed93e39
      iscommand: false
      name: Are There Similar Incidents by Indicators?
      type: condition
      version: -1
    taskid: 002478d2-31f3-4859-899b-d4948ed93e39
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1400
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "22_5_#default#": 0.16,
      "2_15_yes": 0.37,
      "2_5_#default#": 0.17,
      "42_27_Indicators": 0.49
    },
    "paper": {
      "dimensions": {
        "height": 2275,
        "width": 1180,
        "x": 460,
        "y": -440
      }
    }
  }
